---
layout: default
jsgraph: true
GoogleCharts: true
---

<script type="text/javascript">google.charts.load('current', {'packages':['corechart']});</script>

<section class="wrapper style1">
    <header class="major">
        <h2>Examples</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="6u">
                <section class="special">
                    <div>
						{% include/lorenz-graph.html %}
					</div>
					<p></P>
					<ul class="actions">
                        <a href="{{ site.baseurl }}/lorenz.html" class="button alt">Lorenz System</a>
                    </ul>
                    <p>Solve the three dimensional, Lorenz attractor, system of differential equations.</p>
                </section>
            </div>
            <div class="6u">
                <section class="special">
					{% include/airy-chart.html %}
                    <ul class="actions">
                        <a href="{{ site.baseurl }}/airy.html" class="button alt">Airy System</a>
                    </ul>
                    <p>A second order, linear, ordinary differntial equation.</p>
                </section>
            </div>
        </div>
    </div>
	
	<hr>
	
	<div class="container">
        <div class="row">
            <div class="6u">
				
            </div>
            <div class="6u">
                <section class="special">
                    <a href="{{ site.baseurl }}/discrete-sampling.html" class="image fit"><img align src="images/SampledSignal.png" style="max-width:500px;" alt="" /></a>
                    <ul class="actions">
                        <a href="{{ site.baseurl }}/discrete-sampling.html" class="button alt">Discrete Sampling</a>
                    </ul>
                    <p>A demonstration of sampling a continuous solution.</p>
                </section>
            </div>
        </div>
    </div>
	
	<hr>
	
	<div class="center">
	  <ul class="pagination">
		<li><a class="active" href="#">1</a></li>
		<li><a href="{{ site.baseurl }}/examples-2.html">2</a></li>
		<li><a href="{{ site.baseurl }}/examples-2.html">&#10093</a></li>
		<!--<li><a href="#">3</a></li>-->
	  </ul>
	</div>
</section>