---
layout: landing-page
jsgraph: true
GoogleCharts: true
---

<section class="wrapper style1">
	<div class="container">
		<div class="row">
			<div class="4u">
				<section class="special box">
					<i class="icon fa-clock-o major"></i>
					<h3>Discrete and Continuous Parameter Mixing</h3>
					<p>Ascent supports asychronous sampling and events with mixed discrete and continuous variables.</p>
				</section>
			</div>
			<div class="4u">
				<section class="special box">
					<i class="icon fa-random major"></i>
					<h3>Solve Highly Dynamic Simulations</h3>
					<p>Modules can be dynamically added, deleted, frozen, and reconnected, all of which is handled for proper numerical integration.</p>
				</section>
			</div>
			<div class="4u">
				<section class="special box">
					<i class="icon fa-refresh major"></i>
					<h3>Automatic Simulation Ordering</h3>
					<p>No need to handle system wide ordering. Ascent eliminates the nightmare of handling the flow of massively dynamic simulations.</p>
				</section>
			</div>
		</div>
	</div>
</section>

<section class="wrapper style2">
	<div class="container">
		<div class="row">
			<div class="6u">
				<h2><i class="icon fa-unlock minor"></i>
				Open Source</h2>
				<h5 class="indent">Ascent and its dependencies are free to use in both open and closed source commerical projects.</h5>
				
				<h2><i class="icon fa-windows minor"></i> <i class="icon fa-apple minor"></i>
				Portable</h2>
				<h5 class="indent">Ascent is tested for 32bit and 64bit on Windows (MSVC2015) and Mac (Xcode) LLVM.</h5>
			</div>
		
			<div class="6u">
				<h2><i class="icon fa-group minor"></i>
				Share Modules</h2>
				<h5 class="indent">Any module built on Ascent can run in any other Ascent simulation. 
				Incorporate other open source Ascent modules and combine libraries for large scale simulations.</h5>
				
				<p><a href="https://github.com/Ascent-Community" target="_blank">Ascent-Community</a>
				| A	GitHub organization for modules and libraries built on Ascent</p>
			</div>
		</div>

		<hr>
		<h4>Ascent was designed to replace two aerospace simulation architectures used by the US Air Force, Army, and NASA.
		It was further developed to replace viscoelastic human injury modeling and internal gas dynamics engines.</h4>
		
		<h4>Ascent is versaitle, and applicable to a wide range of simulation needs.</h4>
		
		<hr>
	</div>
	
	<div = class="container">
		<h2 align=center>Easily Simulate Highly Connected Systems</h2>
		
		<script src="data/system.js"></script>
		<script type="text/javascript">google.charts.load('current', {'packages':['corechart']});</script>
		
		<script type="text/javascript">
		  google.charts.setOnLoadCallback(drawChart);

		  function drawChart() {
			var data = google.visualization.arrayToDataTable(system);

			var options = {
				series: {
						0: { color: '#3984c6' },
						1: { color: '#398464' },
						2: { color: '#6ab3e2' },
						3: { color: '#889294' },
					  },
				height: 400,
				backgroundColor: 'transparent',
				//title: 'Positions of masses',
				curveType: 'function',
				vAxis: { gridlines: { color: 'transparent' }, viewWindow: { min: -0.025, max: 0.045} },
				hAxis: { gridlines: { color: 'transparent' } },
				legend: { position: 'none' },
				chartArea: { width: '90%', height: '90%' }
			};

			var chart = new google.visualization.LineChart(document.getElementById('system_graph'));
			chart.draw(data, options);
		  }
		</script>
		
		<div class="row double">
			<div class="5u">
				<section class="special box">
					<img src="images/ViscoSystem1.png" class="image fit"/>
					<h5>Spring-Mass-Damper system that can easily be reconfigured.</h5>
					<p>Positions of masses from example are shown right.</p>
				</section>
			</div>
			
			<div class="7u">
				{% include/system-chart.html %}
				<!-- <p>Avoid state-space modeling by creating driving components, such as springs and dampers, that can be applied to the system without any matrix manipulation.</p> -->
			</div>
		</div>
		
		<div align=center>
			<a onclick="document.getElementById('system').style.display='block'" class="button alt">Example Code</a>
		</div>
		
		<div id="system" class="modal" onclick="document.getElementById('system').style.display='none'">
			<div class="modal-content style1">
				{% include/system.html %}
			</div>
		</div>
		
		<hr>
	</div>

	<header class="major">
		<h2>Powerful Differential Equation Solver</h2>
	</header>
		
	<div class="container">
		<div class="row double">
			<div class="5u">
				<h3>Entire Systems As ODEs</h3>
				<p>
					Often times simulation software will separate differential equation solving from the rest of the system.
					Ascent provides more accurate results by collectively solving entire systems within its differential equation engine.
				</p>
				
				<img src="images/Solver.png" class="image fit"/>
				
				<hr>
			
				<h3>Minimum Phase-Based Integration</h3>
				<p>
					Simulations are run by implementing no more than six phases. These phases (init, update, postcalc, check, report, and reset) 
					are the minimum number of phases for the design features allowed. Ascent supports pre, intermediate, and post integration computations, 
					checking mechanisms for stopping the simulation, resetting of parameters to support driving modules, and more.
				</p>
				
				<img src="images/SimulationLoop.png" onclick="document.getElementById('loopinfo').style.display='block'" class="image fit link"/>
				
				<div id="loopinfo" class="modal" onclick="document.getElementById('loopinfo').style.display='none'">
					<div class="modal-content">
						<!-- <span onclick="document.getElementById('loopinfo').style.display='none'" class="close">&times;</span> -->
						<section class="wrapper style2">
							<div class="row double">
								<div class="5u">
									<img src="images/SimulationLoop.png" class="image fit"/>
								</div>
							
								<div class="7u">
									<p>Phases are implemented as virtual methods inherited by a common asc::Module class.</p>
									<h4>init</h4>
									<p>To initialize modules and variables.

									<h4>update</h4>
									<p>Handle derivative computations. Discrete parameters can be set within an if(sample()) block.

									<h4>postcalc</h4>
									<p>For computations based on integrated states.

									<h4>check</h4>
									<p>Check whether the simulation should be stopped.

									<h4>report</h4>
									<p>Print or output end of step states.

									<h4>reset</h4>
									<p>Reset module variables, to support multiple drivers affecting the same module.
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			
			<div class="6u">
				{% include/lorenz-graph.html %}
				<br>
				<div align=center>
					<a onclick="document.getElementById('lorenz-modal').style.display='block'" class="button alt">Lorenz Example</a>
				</div>
				
				<div id="lorenz-modal" class="modal" onclick="document.getElementById('lorenz-modal').style.display='none'">
					<div class="modal-content style1">
						<!-- <span onclick="document.getElementById('lorenz-modal').style.display='none'" class="alt close">&times;</span> -->
							{% include/lorenz.html %}
					</div>
				</div>
				
				<hr>
				<h3>Integrators</h3>
				<li>4th Order Runge Kutta and RK-Merson
				<li>Real-Time Predictor Correctors (Advanced Adams-Moulton)
				<li>Dormand Prince (45 & 87, with adaptive stepping*)
				<p>*<i>Supports global or state specific tolerances</i></p>
				
				<hr>
				<h3>Asynchronous Sampling and Event Scheduling</h3>
				<li>Dynamically assign events that are exactly stepped to with proper numerical integration.
				<li>Mix discrete and continuous signals to simulate hardware in the loop.
<!-- <pre class="prettyprint">
if (event(0.38493))
	std::cout << "Event at time: " << t;
// Will complete a full step and print: Event at time 0.38493
</pre> -->
			</div>
		</div>
	</div>
	
	<div class="container">
		<header class="minor">
			<h2>Automatic Ordering</h2>
			<p align=center>By default Ascent ensures that data is accessed from updated modules</P>
		</header>
		<p>
			Ascent mixes concepts of module level ordering with variable access ordering.
			Ordering is performed automatically based on how algorithms are written with minimal required user input.
			This allows simulation designers to focus on unique module associations and not have to be concerned with entire simulation flows.
			The mixture of module and variable level ordering offers a "best of both worlds" approach to simulation design that simplifies user effort
			while making it possible to design extremely complex and dynamic simulations.
		</p>
		
		<div class="row double">
			<div class="6u">
				<img src="images/AutomaticLinking.png" class="image fit"/>
			</div>
			<div class="6u">
				<img src="images/AutomaticLinkingOrder.png" class="image fit"/>
				
				<p>
					The programmer doesn't define any of this ordering. The ordering is automatically generated from how module data is accesssed.
				</p>
			</div>
		</div>
		
		<div align=center>
			<a onclick="document.getElementById('id01').style.display='block'" class="button alt">More On Automatic Ordering</a>
		</div>
		
		<div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
			<div class="modal-content">
				<!-- <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span> -->
				<section class="wrapper style2">
					<p>
						Ascent allows the simulation designer to define pre-computational links, specifying that certain modules should run first. 
						This enables the generation of driving modules, which can be easily added and removed from a system.<br>
						For example, lumped parameter systems can be easily assembled without having to setup state space matrices. 
						This assembling/dissasembling can even occur at runtime.
					</p>
					
					<div class="row double">
						<div class="6u">
							<img src="images/SpringDamperLinks.png" class="image fit"/>
							
							<p>The Mass modules don't need to know anything about the Spring and Damper modules.</p>
						</div>
						<div class="6u">
							<img src="images/SpringDamperOrder.png" class="image fit"/>
							
							<p>
								The programmer only defines the driving links, and these are handled at the module level, so they are applied regardless of the simulation complexity.
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		
		<hr>
	</div>
</section>

<section class="wrapper style1">
	<div class="container">
		<div class="row double">
			<div class="6u">
				<header class="minor">
					<h2>Variable Tracking</h2>
				</header>
				<p>
					Ascent provides a built in engine for efficiently tracking variables. Results are saved to csv files.
				</p>
				
				<div align=center>
					<a onclick="document.getElementById('track-example').style.display='block'" class="button alt">Example Code</a>
				</div>
				
				<div id="track-example" class="modal" onclick="document.getElementById('track-example').style.display='none'">
					<div class="modal-content">
						<!-- <span onclick="document.getElementById('track-example').style.display='none'" class="alt close">&times;</span> -->
						<section class="wrapper style1">
<pre class="prettyprint">
// Define namespace
#define ascNS Lorenz
   ascVar(x) // Variable x can be tracked and scripted
</pre>
			
<pre class="prettyprint">
// Track time (t) and x (Eigen::Vector3d)
lorenz.track("t");
lorenz.track("x");
</pre>

<p>Output: lorenz.txt</P>
<pre class="prettyprint">
t, lorenz x
0, 10.000000, 1.000000, 1.000000
0.01, 9.269483, 3.563663, 1.190859
0.02, 8.841946, 5.921403, 1.583097
continued...
</pre>
						</section>
					</div>
				</div>
			</div>
			
			<div class="6u">
				<header class="minor">
					<h2>Scripting Engine</h2>
				</header>
				<p>
					Easily connect, initialize, and run your models in the embedded <a href="http://chaiscript.com/" target="_blank">ChaiScript</a> engine.
				</p>
			</div>
		</div>
		
		<hr>
		
		<header class="major">
			<h2><a href="http://eigen.tuxfamily.org/index.php?title=Main_Page" target="_blank">Eigen</a> Linear Algebra</h2>
		</header>
		<p>
			Ascent uses the fast and mature <a href="http://eigen.tuxfamily.org/index.php?title=Main_Page" target="_blank">Eigen</a> 
			C++ linear algebra library, providing straightforward matrix and vector handling.
			<ul>
				<li>Solve differential equations with Eigen vectors and matrices
				<li>Track Eigen vectors and output history to csv files
				<li>Compute time history derivatives and integrals
			</ul>
		</p>
	</div>
</section>