<!DOCTYPE html>

<header id="header" class="skel-layers-fixed">
	<title>Ascent</title>
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="{{ site.baseurl }}/showcase.html">Agent Based Modeling</a></li>
			<li><div class="dropdown">
			  <a href="{{ site.baseurl }}/examples.html">Examples</a>
			  <div class="dropdown-content">
				<a href="{{ site.baseurl }}/examples.html">Page 1</a>
				<a href="{{ site.baseurl }}/examples-2.html">Page 2</a>
			  </div>
			</div></li>
			<li><a href="https://github.com/AnyarInc/ascent/wiki" target="_blank">Wiki</a></li>
			<li><a href="{{ site.baseurl }}/page1.html" target="_blank">SimTIM Presentation</a></li>
			<li><a href="{{ site.baseurl }}/support.html" class="button special">Support</a></li>
        </ul>
    </nav>
</header>