<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <section id="banner">
            <div class="inner">
                <h2>ASCENT</h2>
                <p>An open source C++ architecture for time-based simulations</p>
                <ul class="actions">
					<li><a href="https://github.com/AnyarInc/ascent" class="button big special" target="_blank">View on GitHub</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
